.footer_wrapper {
  background-color: var(--bg-dark-blue);
  padding: 20px 0;
}

.footer_wrapper .footer-logo img {
  width: 100px;
}

.footer_wrapper .social-icon li {
  margin: 6px;
}

.footer_wrapper .social-icon a {
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  border: 2px solid var(--text-gray);
  color: var(--text-gray);
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-white);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  transform: translateY(-3px);
}
.footer_wrapper .copyright-text p {
  font-size: 11px;
  line-height: 20px;
}
.footer_wrapper .copyright-text a {
  color: var(--primary-color);
}
